################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
out/Debug/*.exe
out/Release/*.exe
src/.vs
src/Debug
src/Release
*.ilk
*.pdb
*.ipdb
*.iobj
*.exe
/libs/irrKlang-1.6.0/bin/linux-gcc
/libs/irrKlang-1.6.0/bin/macosx-gcc
/libs/irrKlang-1.6.0/examples
/libs/irrKlang-1.6.0/examples.net
